.hr {
  border: 2px solid #fc04db;
  width: 75%;
}

.div-hr {
  background-color: rgb(2, 30, 63);
  display: flex;
  justify-content: center;
  padding: 1px;
}

.contenido-festival {
  color: #fff;
  text-align: center;
  background-color: rgb(2, 30, 63);

  font-weight: bold;
  font-size: 1.5em;
  gap: 20px;
  padding: 20px;
}
.contenido-festival p {
  font-size: 0.8em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

.img-festival {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.info {
  display: flex;
  justify-content: left;

  font-weight: bold;
  font-size: 1.5em;
  gap: 20px;
  padding: 40px;
}

.first-form {
  height: auto;
  width: 100%;
  background-color: rgb(2, 30, 63);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-container {
  gap: 20px;
  background-color: black;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(218, 212, 212, 0.1);
  width: 600px;
}

.form-container h3 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: rgb(2, 30, 63);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: fuchsia;
}
